th {
  max-width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #fffbfb;
  line-height: 1.6;
  margin: 0;
  font-family: myFirstFont;
}
nav ul li a {
  color: black;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: block;
  margin-bottom: 10px;
}

main {
  padding: 10px;
  text-align: center;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: myFirstFont;
}
@font-face {
  font-family: myFirstFont;
  src: url(MASQUE__.ttf);
}

table,
th,
td {
  border: 1px solid #333;
  color: orange;
}

th,
td {
  padding: 10px;
  color: orange;
  text-decoration-color: orange;
}

audio,
video {
  width: 100%;
}

a {
  color: #0077b6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  margin: 20px 0;
}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.cole {
  width: 100%;
  height: auto;
  max-width: 500px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.image {
  padding: 10px;
  width: 100%;
  max-width: 100%;
}

.page-specific-h1 {
  font-size: 24px;
  color: #0077b6;
}

.page-specific-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
